<section class="catalog">
  <div class="container">
    <h2 class="catalog-header">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="watch-card">
          <!-- <picture>
            <source
              srcset="
                ../img/catalog/catalog-1.png    1x,
                ../img/catalog/catalog-1@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/portfolio/bank-tab@1x.jpg 1x,
                ./images/portfolio/bank-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/bank-mob@1x.jpg 1x,
                ./images/portfolio/bank-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/banking.jpg" alt="portfolio picture" />
          </picture> -->
          <div class="watch-details">
            <h3 class="watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="watch-price">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="watch-card">
          <div class="watch-details">
            <h3 class="watch-name">Garmin Marq Athlete</h3>
            <p class="watch-price">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="watch-card">
          <div class="watch-details">
            <h3 class="watch-name">Garmin Descent MK1</h3>
            <p class="watch-price">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="watch-card">
          <div class="watch-details">
            <h3 class="watch-name">Garmin D2 Delta PX</h3>
            <p class="watch-price">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-item mob">
        <div class="watch-card">
          <div class="watch-details">
            <h3 class="watch-name">Garmin Fenix 6 Pro Solar</h3>
            <p class="watch-price">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-item mob">
        <div class="watch-card">
          <div class="watch-details">
            <h3 class="watch-name">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="watch-price">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="btn-show-more">Sow more</button>
  </div>
</section>
