<section class="contact-us" id="contact-us">
    <div class="container-cu">
        <div class="forst-div">
            <h2 class="header-cu">Contact Us</h2>
            <form action="" class="form-cu">
                <p class="text-cu">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
                <label class="label-cu">
                    <input name="user-name" type="text" class="input-cu" placeholder="Name">
                </label>
                <label class="label-cu">
                    <input name="user-email" type="mail" class="input-cu" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
                </label>
                <label class="label-cu" >
                    <input name="user-phone" type="tel" class="input-cu" placeholder="+380" pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$">
                </label>
                <textarea name="comment" id="" class="textarea-cu" placeholder="Comment">
                </textarea>
                <button class="button-cu" type="submit">Send
                </button>
            </form>
        </div>

        <div class="second-div"><img src="/img/contact-us/contact-us-mob.png" alt="watch" class="image-cu" srcset="/img./contact-us./contact-us-mob.png 1x, /img./contact-us./contact-us-mob@2x.png 2x">
        </div>
    </div>
</section>