<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-up">
      <div class="footer-logo-box">
        <a href="/index.html" class="footer-logo">watchcharm</a>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-soc-link"
              target="_blank"
            >
              <svg width="20" height="20" class="footer-soc-svg">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-soc-link"
              target="_blank"
            >
              <svg width="20" height="20" class="footer-soc-svg">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-soc-link"
              target="_blank"
            >
              <svg width="20" height="20" class="footer-soc-svg">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <address class="footer-tel-box">
        <a href="tel:+380684439426" class="footer-tel-link"
          >+380 (68) 443-94-26</a
        >
      </address>
      <div class="footer-slogan-box">
        <p class="footer-slogan">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>
    </div>
    <div class="footer-mid">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="/index.html" class="footer-nav-link">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="#about-us" class="footer-nav-link">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#catalog" class="footer-nav-link">Catalog</a>
          </li>
          <li class="footer-nav-item">
            <a href="#sale" class="footer-nav-link">Sale</a>
          </li>
          <li class="footer-nav-item">
            <a href="#reviews" class="footer-nav-link">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a href="#contact-us" class="footer-nav-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <address class="footer-adr">
        <a
          href="https://maps.app.goo.gl/ej2nvMhu2dauqBoQ8"
          class="footer-adr-text"
          target="_blank"
        >
          1678 S. Pioneer Road Salt Lake City UT 84104
        </a>
      </address>
    </div>
    <div class="footer-low">
      <div class="footer-copyr-box">
        <p class="footer-copyright">
          ©2023 The Watch Spot. All rights reserved.
        </p>
      </div>
      <div class="footer-service-box">
        <a href="#" class="footer-service">Terms of Service</a>
        <a href="#" class="footer-service">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
