<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="../index.html">watchcharm</a>
      
      <ul class="header-menu">
        <li><a class="mob-link current" href="../index.html">Home</a></li>
        <li><a class="mob-link" href="#about-us">About Us</a></li>
        <li><a class="mob-link" href="#catalog">Catalog</a></li>
        <li><a class="mob-link" href="#sale">Sale</a></li>
        <li><a class="mob-link" href="#reviews">Reviews</a></li>
        <li><a class="mob-link" href="#contact-us">Contact Us</a></li>
      </ul>

      <ul class="header-sosials">
          <li class="header-icons">
            <a class="header-icons-link" href="https://www.facebook.com/goITclub/" target="_blank"></a>
            <svg class="header-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
          </li>

        <li class="header-icons">
          <a class="header-icons-link" href="https://www.instagram.com/goitclub/" target="_blank"></a>
            <svg class="header-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="header-icons">
          <a class="header-icons-link" href="https://www.youtube.com/c/GoIT" target="_blank"></a>
            <svg class="header-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

        <button class="burger-button is-open" type="button" data-menu-open>
          <svg class="burger-icon" width="34" height="34">
            <use href="../img/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <!--- mob-menu  --->
        
</header>
