<header class="page-header">
  <div class="container header-container">

    <div>
      <a class="header-logo" href="../index.html">watchcharm</a>
    </div>

    <nav class="header-nav">
      <ul class="header-menu">
        <li><a class="header-link current" href="../index.html">Home</a></li>
        <li><a class="header-link" href="#about-us">About Us</a></li>
        <li><a class="header-link" href="#catalog">Catalog</a></li>
        <li><a class="header-link" href="#sale">Sale</a></li>
        <li><a class="header-link" href="#reviews">Reviews</a></li>
        <li><a class="header-link" href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>

    <div>
      <ul class="header-sosials">
          <li class="header-icons">
            <a class="header-icons-link" href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="header-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
          </li>

        <li class="header-icons">
          <a class="header-icons-link" href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="header-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="header-icons">
          <a class="header-icons-link" href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="header-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

        <button class="burger-button is-open" type="button">
          <svg class="burger-icon" width="34" height="34">
            <use href="../img/icons.svg#icon-menu"></use>
          </svg>
        </button>
        
        <!--- mob-menu  --->
        
      <div class="mob-menu">
        <div class="container mob-menu-container">

          <button class="menu-button" type="button">
          <svg class="menu-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-close"></use>
          </svg>
        </button>

          <div>
            <nav class="menu-nav">
            <ul class="header-menu menu">
              <li><a class="header-link menu-link current" href="../index.html">Home</a></li>
              <li><a class="header-link menu-link" href="#sale">Sale</a></li>
              <li><a class="header-link menu-link" href="#reviews">Reviews</a></li>
              <li><a class="header-link menu-link" href="#contact-us">Contact Us</a></li>
            </ul>
          </nav>
          </div>

          <div>
            <ul class="header-sosials menu-sosials">
              <li class="header-icons menu-icons">
                <a class="header-icons-link" href="https://www.facebook.com/goITclub/" target="_blank">
                  <svg class="header-svg menu-svg" width="18" height="18">
                    <use href="../img/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="header-icons menu-icons">
                <a class="header-icons-link" href="https://www.instagram.com/goitclub/" target="_blank">
                  <svg class="header-svg menu-svg" width="18" height="18">
                    <use href="../img/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="header-icons menu-icons">
                <a class="header-icons-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                  <svg class="header-svg menu-svg" width="18" height="18">
                    <use href="../img/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
</header>
