<section class="hero">
        <div class="hero-info">
            <div class="text-container">
                <h1 class="hero-title">Welcome to our 
                    <span class="text-color">collection</span> of premium watches</h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression 
                    of your personality and lifestyle. From classic designs to modern 
                    ones, we have a watch to suit every taste and occasion.
                </p>
            </div>
            <div class="team-container">
                <div class="team">
                    <picture>
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-1.png 1x, 
                            ../img/hero/hero-ellipse-1@2x.png 2x"
                            media="(min-width: 1280px)"
                            width="60"
                        />
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-1.png 1x, 
                            ../img/hero/hero-ellipse-1@2x.png 2x"
                            media="(min-width: 768px)"
                            width="56"
                        />
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-1.png 1x, 
                            ../img/hero/hero-ellipse-1@2x.png 2x"
                            media="(min-width: 375px)"
                            width="44"
                        />
                        <img 
                            class="team-photo-victoria"
                            src="../img/hero/hero-ellipse-1.png" 
                            alt="victoria-romashenko"
                            width="60">
                    </picture>
                    <picture>
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-2.png 1x, 
                            ../img/hero/hero-ellipse-2@2x.png 2x"
                            media="(min-width: 1280px)"
                            width="60"
                        />
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-2.png 1x, 
                            ../img/hero/hero-ellipse-2@2x.png 2x"
                            media="(min-width: 768px)"
                            width="56"
                        />
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-2.png 1x, 
                            ../img/hero/hero-ellipse-2@2x.png 2x"
                            media="(min-width: 375px)"
                            width="44"
                        />
                        <img 
                            class="team-photo-john"
                            src="../img/hero/hero-ellipse-2.png" 
                            alt="john-wax"
                            width="60">
                    </picture>
                    <picture>
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-3.png 1x, 
                            ../img/hero/hero-ellipse-3@2x.png 2x"
                            media="(min-width: 1280px)"
                            width="60"
                        />
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-3.png 1x, 
                            ../img/hero/hero-ellipse-3@2x.png 2x"
                            media="(min-width: 768px)"
                            width="56"
                        />
                        <source
                            srcset="
                            ../img/hero/hero-ellipse-3.png 1x, 
                            ../img/hero/hero-ellipse-3@2x.png 2x"
                            media="(min-width: 375px)"
                            width="44"
                        />
                        <img 
                            class="team-photo-anastasia"
                            src="../img/hero/hero-ellipse-3.png" 
                            alt="anastasia-trachuk"
                            width="60">
                    </picture>
                </div>
                <a href="#footer" class="button-link">
                    Scroll down
                </a>
            </div>
        </div>
        <div class="background-image"></div>
    </div>
</section>