<section class="reviews" id="reviews">
    <h2 class="reviews-main-text">Reviews</h2>
    <div class="container reviews-div">
        <ul class="reviews-ul">
            <li class="reviews-li">
                <div class="reviews-box">
                    <img srcset="../img/reviews/reviews-ellipse-2.png 1x, ../img/reviews/reviews-ellipse-2@2x.png 2x"
                        src="../img/reviews/reviews-ellipse-2.png" alt="John Wax" width="56" />
                    <h2 class="reviews-li-name">John Wax</h2>
                    <p class="reviews-about">Buying a watch from was the best choice for me. The design is perfectly
                        combined with high quality materials. The strap
                        fits nicely on the hand, and the mechanism works flawlessly.</p>
                </div>
            </li>
            <li class="reviews-li hidden">
                <div class="reviews-box">
                    <img srcset="../img/reviews/reviews-ellipse-1.png 1x, ../img/reviews/reviews-ellipse-1@2x.png 2x"
                        src="../img/reviews/reviews-ellipse-1.png" alt="Victoria Romashenko" width="56" />
                    <h2 class="reviews-li-name">Victoria Romashenko</h2>
                    <p class="reviews-about">Can't take my eyes off my watch from. Every time I put it on, it is admired
                        by those around me. The build quality and
                        attention to detail make it a real gem among my accessories.</p>
                </div>
            </li>
            <li class="reviews-li hid-two">
                <div class="reviews-box">
                    <img srcset="../img/reviews/reviews-ellipse-3.png 1x, ../img/reviews/reviews-ellipse-3@2x.png 2x"
                        src="../img/reviews/reviews-ellipse-3.png" alt="Anastasia Trachuk" width="56" />
                    <h2 class="reviews-li-name">Anastasia Trachuk</h2>
                    <p class="reviews-about">My watch from is a real masterpiece. Every detail impresses with the high
                        quality of execution. Special features like
                        [specify features] make it an indispensable companion in my daily life.</p>
                </div>
            </li>
        </ul>
    </div>
</section>