<section class="sale-section">
  <div class="container">
    <h2 class="section-header">Sale</h2>
    <div class="sale-content">
      <div class="image-cards-container">
        <ul class="list">
          <li class="element">
            <div class="thumb">
              <img
                class="pic"
                srcset="/img/sale/sale-2.png 1x, /img/sale/sale-2@2x.png 2x"
                src="/img/sale/sale-2.png"
                alt="front watch 1"
                width="96"
                height="100"
              />
            </div>
          </li>
          <li class="element">
            <div class="thumb">
              <img
                class="pic"
                srcset="/img/sale/sale-3.png 1x, /img/sale/sale-3@2x.png 2x"
                src="/img/sale/sale-3.png"
                alt="front watch 2"
                width="96"
                height="100"
              />
            </div>
          </li>
          <li class="element">
            <div class="thumb">
              <img
                class="pic"
                srcset="/img/sale/sale-4.png 1x, /img/sale/sale-4@2x.png 2x"
                src="/img/sale/sale-4.png"
                alt="side watch"
                width="96"
                height="100"
              />
            </div>
          </li>
          <li class="element">
            <div class="thumb">
              <img
                class="pic"
                srcset="/img/sale/sale-5.png 1x, /img/sale/sale-5@2x.png 2x"
                src="/img/sale/sale-5.png"
                alt="back watch"
                width="96"
                height="100"
              />
            </div>
          </li>
        </ul>
        <div class="thumb">
          <img
            class="pic"
            srcset="/img/sale/sale-1.png 1x, /img/sale/sale-1@2x.png 2x"
            src="/img/sale/sale-1.png"
            alt="front watch 3"
            width="328"
            height="398"
          />
        </div>
      </div>
      <div class="description-block">
        <h3 class="description-header">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="product-tag">Product tag: 706587</p>
        <div class="price-block">
          <p class="new-price">&#8364;1500</p>
          <p class="old-price">&#8364;3000</p>
        </div>
        <p class="description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="tag-list">
          <li class="element">
            <p class="tag">Fused carbon fiber</p>
          </li>
          <li class="element">
            <p class="tag">Grade-5 Titanuim</p>
          </li>
          <li class="element">
            <p class="tag">Athlete</p>
          </li>
          <li class="element">
            <p class="tag">Golfer</p>
          </li>
          <li class="element">
            <p class="tag">Commander</p>
          </li>
          <li class="element">
            <p class="tag">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
