<section>
  <div class="container">
    <h2 class="section-header">Sale</h2>
    <div class="sale-content">
      <div class="image-cards-container">
        <ul class="list">
          <li class="element">
            <div class="thumb">
              <picture>
                <source />
                <source />
                <source />
                <img class="pic" src="" alt="" />
              </picture>
            </div>
          </li>
          <li class="element">
            <div class="thumb">
              <picture>
                <source />
                <source />
                <source />
                <img class="pic" src="" alt="" />
              </picture>
            </div>
          </li>
          <li class="element">
            <div class="thumb">
              <picture>
                <source />
                <source />
                <source />
                <img class="pic" src="" alt="" />
              </picture>
            </div>
          </li>
          <li class="element">
            <div class="thumb">
              <picture>
                <source />
                <source />
                <source />
                <img class="pic" src="" alt="" />
              </picture>
            </div>
          </li>
        </ul>
        <div class="thumb">
          <picture>
            <source />
            <source />
            <source />
            <img class="pic" src="" alt="" />
          </picture>
        </div>
      </div>
      <div class="description-block">
        <h3 class="description-header">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="tag-text">Product tag: 706587</p>
        <div class="price-block">
          <span class="new-price">€1500</span>
          <span class="old-price">€3000</span>
        </div>
        <p class="description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="tag-list">
          <li class="tag-container">
            <p class="tag">Fused carbon fiber</p>
          </li>
          <li class="tag-container">
            <p class="tag">Grade-5 Titanuim</p>
          </li>
          <li class="tag-container">
            <p class="tag">Athlete</p>
          </li>
          <li class="tag-container">
            <p class="tag">Golfer</p>
          </li>
          <li class="tag-container">
            <p class="tag">Commander</p>
          </li>
          <li class="tag-container">
            <p class="tag">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
