.advertisement {
  border-radius: 30px;
  background-image: url(../img/advertisement/advert-desk.png);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.advertisement-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-top: 83px;
  margin-left: 80px;
}

.advertisement-span {
  color: aqua;
}

.advertisement-button {
  width: 160px;
  height: 48px;
  margin-left: 140px;
  border-radius: 30px;
}

.advertisement-button {
  border-radius: 10px;
}

.advertisement-button-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
}
