html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fff;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../Gilroy/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../Gilroy/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../Gilroy/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../Gilroy/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}