.contact-us {
    padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .contact-us {
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us {
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .div-cu {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
} 

.header-cu {
font-weight: 600;
font-size: 32px;
line-height: 100%;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .header-cu {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 92%;
    }
} 

.form-div {
    width: 335px;
    height: 512px;
    border-radius: 30px;
    background-color: #f3f3f3;
    padding: 48px 28px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .form-div {
        border-radius: 50px;
        padding: 50px 122px;
        width: 704px;
        height: 556px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .form-div {
        width: 580px;
        padding: 50px 60px;
        margin-bottom: 0;
    }
}

.text-cu {
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);
margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .text-cu {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 32px;
    }
}

.form-cu {
    width: 279px;
    height: 264px;
}

@media screen and (min-width: 768px) {
    .form-cu {
        width: 460px;
        height: 372px;
    }
}

@media screen and (min-width: 1280px) {
    .form-cu {
        height: 300px;
    }
}

.input-cu {
    border: 1px solid rgba(12, 12, 12, 0.15);
border-radius: 12px;
padding: 12px 14px;
width: 279px;
margin-bottom: 18px;
background-color: transparent;
outline: transparent; 
height: 42px;
}

@media screen and (min-width: 768px) {
    .input-cu {
        padding: 16px 18px;
        width: 460px;
        font-size: 16px;
        line-height: 1.25;
        height: 52px;
    }
    ::placeholder {
        font-size: 16px;
        line-height: 125%;
        }
}

@media screen and (min-width: 1280px) {
    .input-cu {
        padding: 16px;
    }
}

.textarea-cu {
    display: block;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px;
    width: 100%;
    height: 84px;
    margin-bottom: 28px;
    resize: none;
    background-color: transparent;
    outline: transparent;    
}

@media screen and (min-width: 768px) {
    .textarea-cu {
        height: 90px;
        padding: 16px;
        margin-bottom: 32px;
    }
}

.input-cu, 
.textarea-cu {
    box-sizing: border-box;
    display: block;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-cu::placeholder,
.textarea-cu::placeholder {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
color: #0c0c0c;
}

.input-cu:hover,
.input-cu:focus,
.textarea-cu:hover,
.textarea:focus {
    border: 1px solid #3350e9;
}


.button-cu {
    border-radius: 16px;
padding: 12px 50px;
width: 134px;
height: 42px;
background: #3350e9;
border: none;
font-family: Gilroy;
font-weight: 500;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #fbfbfb;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .button-cu {
        padding: 17px 63px;
        width: 160px;
        height: 52px;
    }
}

.button-cu:hover,
.button-cu:focus {
    background-color: #1f3cd4;
}



