
/* MOBILE */
@media screen and (min-width: 320px) {
    .reviews {
        padding: 0px 20px;
        padding-bottom: 60px;
        margin: 0 auto;
    }

    .reviews-main-text {
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        padding: 0;
        padding-bottom: 24px;
    }

    .reviews-div {
        display: flex;
        flex-wrap: wrap;
        width: 335px;
    }

    .reviews-ul {
        display: flex;
        gap: 16px;
        min-height: 262px;
    }

    .reviews-li {
        border-radius: 30px;
        padding: 32px 36px;
        width: 335px;
        min-height: 262px;
        background: #f3f3f3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews-li.hidden,
    .reviews-li.hid-two {
            display: none;
        }

    .reviews-img {
        margin-bottom: 24PX;
    }

    .reviews-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews-li-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0c0c0c;
        padding-bottom: 8px;
    }

    .reviews-about {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(12, 12, 12, 0.4);
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    .reviews {
        padding: 0px 32px;
        padding-bottom: 80px;
    }

    .reviews-div {
        flex-direction: row;
        width: 704px;
    }

    .reviews-main-text {
        font-size: 48px;
        line-height: 0.92;
        padding: 0;
        padding-bottom: 40px;
    }

    .reviews-ul {
        gap: 16px;
        min-height: 272px;
    }

    .reviews-li {
        width: 344px;
        min-height: 272px;
        width: calc((100% - 16px) / 2);
    }

    .reviews-box {
        min-height: 208px;
    }

    .reviews-li-name {
        font-size: 18px;
        line-height: 1.10;
    }

    .reviews-about {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews-li.hidden {
        display: block;
    }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
    .reviews {
        padding-bottom: 100px;
        min-height: 356px;
        margin: 0 auto;
    }

    .reviews-div {
        width: 1150px;
    }

    .reviews-ul {
        gap: 20px;
    }

    .reviews-li {
        width: 370px;
        min-height: 272px;
        width: calc((100% - 40px) / 3);
    }

    .reviews-li.hid-two {
        display: block;
    }
}